{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Ayuda{% endblock %}

{% block body %}
	<div class="page-header">
		<h1> Ayuda</h1>
	</div>
	<div class="row">
		<div class="col-lg-6 col-sm-6 col-xs-12">
			<div class="page-header">
				<h3> Nuetras Sucursales</h3>
			</div>
			<div class="panel panel-default">
		      <!-- Default panel contents -->

		      <!-- Table -->
		      <table class="table">
		        <thead>
		          <tr>
		            <th>#</th>
		            <th>First Name</th>
		            <th>Last Name</th>
		            <th>Username</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <th scope="row">1</th>
		            <td>Mark</td>
		            <td>Otto</td>
		            <td>@mdo</td>
		          </tr>
		          <tr>
		            <th scope="row">2</th>
		            <td>Jacob</td>
		            <td>Thornton</td>
		            <td>@fat</td>
		          </tr>
		          <tr>
		            <th scope="row">3</th>
		            <td>Larry</td>
		            <td>the Bird</td>
		            <td>@twitter</td>
		          </tr>
		        </tbody>
		      </table>
		    </div>
		</div>
		<div class="col-lg-6 col-sm-6">
			<div class="page-header">
				<h3> Donde Ubicarnos <small> haga click en el marcador</small></h3>
			</div>
			<div id="map" class="container">
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		div .page-header {
			margin-bottom: 3px;
		}
		#map {
	        width: auto;
	        height: 400px;
	    }
	</style>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript">
      function initialize() {
      	var myCenter=new google.maps.LatLng(44.5403, -78.5463);
      	var marker=new google.maps.Marker({
		  position:myCenter
		});
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          disableDefaultUI:true,
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
        marker.setMap(map);
        var infowindow = new google.maps.InfoWindow({
		  content:'<div style="font-size: 15px;">'+"Av. Principal de San Diego, Local 3, San Diego Estado Carabobo, Local 3, San Diego Estado Carabobo, Local 3, San Diego Estado Carabobo, Local 3, San Diego Estado Carabobo"+'</div>',
		  maxWidth: 200
		  });

		google.maps.event.addListener(marker, 'click', function() {
		  infowindow.open(map,marker);
		  });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
{% endblock %}