{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Ayuda{% endblock %}

{% block body %}
	<div class="container">
		<h1>Welcome to the Page:vision page</h1>
	</div>
{% endblock %}
