{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Galería{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>Titulo de la Página <small> algo sobre esta página</small></h1>
	</div>
	<div class="row">
		Esto es la clase row dentro de este div van elementos col-*-*
	</div>
{% endblock %}
