{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Misión{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>Misión <small> ... </small></h1>
	</div>
	<div class="row">
		<p>Como empresa “Revestimientos J&G Barquisimeto C.A.”, tiene la misión de solventar las necesidades que nuestros clientes tienen en decoración y remodelaciones de espacios; atendemos tanto a particulares como a empresas, nos orientamos en ser conocidos y reconocidos por nuestro liderazgo a través de nuestra pasión por los altos estándares de nuestros productos y servicios, respeto por la diversidad y  compromiso con las personas. </p>
		<p>
			<strong>Valores</strong> <br>
			“Revestimiento J&G Barquisimeto C.A.” así como nuestros empleados, tenemos como valor principal, servir a los clientes, sin distinciones.  Así mismo Nuestros valores son servir a la comunidad, a la sociedad y al beneficio de todos los miembros de la empresa., enfocando nuestra empresa a su logro y apoyo.
		</p>
	</div>
{% endblock %}
