{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Visión{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>Visión <small> ... </small></h1>
	</div>
	<div class="row">
		
	</div>
{% endblock %}
