{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}JYGRevestimientosBundle:Galeria:EditarImagen{% endblock %}

{% block body %}
<h1>Welcome to the Galeria:EditarImagen page</h1>
{% endblock %}
