{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}JYGRevestimientosBundle:Galeria:MostrarGaleria{% endblock %}

{% block body %}
<h1>Welcome to the Galeria:MostrarGaleria page</h1>
{% endblock %}
