{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block body -%}
    <h1>Material edit</h1>
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('material') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
