{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block body -%}
    <h1>Material creation</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('material') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		.form_file {
			font-weight: bold;
			width: 100%;
			padding: 5px;
			border-radius: 5px;
			border: solid 1px blue;
		}
	</style>
{% endblock %}